<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
  <h1>hello from home.ejs</h1>  
  <h2><%= 1+2+4+2 %></h2>      <!--here ejs file is a combined form of javascript and html-->
  <!-- <%= Math.floor(Math.random()*10) %> -->
  <%= randomnum %>
</body>
</html>